@font-face {
    font-family: 'Russo One';
    src: url('../fonts/RussoOne-Regular.ttf') format('truetype');
}

html {
    height: 100%;
}
header{
    margin: 25px 0;
    background-color: rgba(107, 144, 255, 0.46);
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
h1 {
    font-weight: normal;
    font-family: 'Russo One', Fallback, sans-serif;
    color: #FFFFFF;
    font-size: 50px;
    text-align: center;
}
h2{
    text-align: center;
}

h3{
    color: #FFFFFF;
    text-align: center;
}
main {
    flex: 1 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}
main a{
    filter: drop-shadow(1px 1px 1px #000000);
}
footer{
    margin: 25px 0 25px 0;
    background-color: rgba(107, 144, 255, 0.46);
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}
nav {
    margin: 20px 20px 20px 0;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
nav > div {
    width: 14%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
nav a {
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    font-size: 2vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    filter: drop-shadow(2px 2px 4px #000000);
}
footer a{
    display: inline;
    font-size: 2vw;
    margin: 10px 0 20px 0;
    filter: drop-shadow(2px 2px 4px #000000);
}
a {
    text-decoration: none;
    color: #ddddff;
}
a:hover {
    color: #ffeedd;
}
div:hover > .submenu {
    display: inline;
    padding-top: 2.5vw;
}
body{
    min-height: 99vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.35) ), url(../img/wallpaper.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
#accueil{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 25px 0 25px 25px;
}
header img{
    max-width: 20vw;
    filter: invert(77%) sepia(18%) saturate(715%) hue-rotate(202deg) brightness(111%) contrast(101%) drop-shadow(2px 2px 4px #000000);
    object-fit: contain;
}
header img:hover{
    filter: invert(92%) sepia(18%) saturate(686%) hue-rotate(309deg) brightness(106%) contrast(105%) drop-shadow(2px 2px 4px #000000);
}
.thumb {
    height: 50px;
}
.thumb:first-child {
    filter: invert(55%) sepia(36%) saturate(5903%) hue-rotate(86deg) brightness(126%) contrast(117%) drop-shadow(2px 2px 4px #000000);
}
form:last-child .thumb{
    transform: scaleY(-1);
    filter: invert(11%) sepia(94%) saturate(7448%) hue-rotate(5deg) brightness(103%) contrast(112%) drop-shadow(2px -2px 4px #000000);
}
.thumb:first-child:hover {
    filter: invert(90%) sepia(15%) saturate(957%) hue-rotate(60deg) brightness(102%) contrast(101%) drop-shadow(2px 2px 4px #000000);
}
form:last-child .thumb:hover {
    filter: invert(100%) sepia(42%) saturate(6114%) hue-rotate(291deg) brightness(100%) contrast(101%) drop-shadow(2px -2px 4px #000000);
}
button {
    padding: 0;
    border: 0;
    background-color: #00000000;
}
#votePopup {
    width: 15%;
}
#votePopup > div{
    padding: 10px;
    border: 5px solid rgba(107, 144, 255, 0.46);
    background-color: #ffffffbb;
    position: fixed;
    right: 10px;
    bottom: 10px;
}
#votePopup img:hover{
    filter: invert(31%) sepia(16%) saturate(0%) hue-rotate(272deg) brightness(93%) contrast(84%);
}
#voteBox {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}
#voteBox #arrow {
    transform: scaleY(-1);
}
#openVote {
    display: none;
    z-index: 1;
}
#voteBox div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#voteBox p {
    margin-bottom: 0;
}
.burger{
    display: none;
}
.titre{
    width: 90%;
    font-size: xx-large;
    text-align: left;
    font-weight: bold;
}
.mainTexte {
    background-clip: padding-box;
    padding: 20px;
    border: 30px solid rgba(107, 144, 255, 0.46);
    font-size: larger;
    background-color: #ffffffbb;
    text-align: justify;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footerTexte{
    margin: 10px;
    padding: 10px;
    font-size: larger;
    background-color: #ffffffbb;
    text-align: center;
}
.footerTexte p{
    margin: 5px;
}

.gform {
    border: 0;
    height: 60vh;
}
embed {
    width: 50vw;
    height: 70vw;
}

@media(max-width:768px){
    main{
        width: 95%;
    }
    header {
        flex-direction: column;
    }
    footer{
        width: 95%;
    }
    nav{
        flex-wrap: wrap;
        justify-content: center;
    }
    nav a {
        font-size: 3.25vw;
    }
    nav div {
        min-width: 145px;
    }
    #logo{
        width: 100%;
        object-fit: contain;
        margin: 0px;
    }
    #accueil{
        min-width: 190px;
        width: 25%;
        margin: 25px;
    }
    div:hover > .submenu{
        padding-top: 3.5vw;
    }
}
@media(max-width:480px){
    .burger #menu2{
        display: none;
    }
    .burger {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .burger img {
        width: 75px;
    }
    .burger:hover #menu2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    #menu2 div a{
        text-align: center;
        font-size: 50px;
        filter: drop-shadow(2px 2px 4px #000000);
    }
    nav {
        display: none;
    }
    .titre{
        font-size: larger;
    }
    .mainTexte{
        font-size: large;
    }
    footer a{
        text-align: center;
        font-size: 30px;
        filter: drop-shadow(2px 2px 4px #000000);
    }
}